<div class="genetic">
  <div class="container-fluid">
    <div class="one section">
      <h2 class="text-center head">Genetic Screening & Selection</h2>
      <div class="row">
        <div class="col-md-6">
          <p>
            Phoenix Life Sciences International is a privately owned
            organization with offices in Dubai & Cairo offering innovative
            solutions in Human genomics and Agri-genomics services, quality
            management systems and operational auditing. We provide the entire
            spectrum of all genetic related services.
          </p>
          <p>
            Phoenix Life Sciences International has extensive experience in
            genetic testing technology with its own patented technology using
            its tools asPXLI's AgriGene solutions as part of its Agri-genomics
            portfolio whichacceleratesgenomic breeding decisions by offering
            high-throughput accurate data on individual animal values. Breeders
            and producers can capitalize on these advances by focusing on
            specific herd needs to select economically relevant traits (ERTs) to
            improve animal value and profitability
          </p>
        </div>
        <div class="col-md-6">
          <div
            class="imgCon d-flex justify-content-center align-items-center h-100"
          >
            <img
              src="./../../../assets/img/consulting.jpg"
              class="img"
              alt="image"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="Genomic section">
      <h2 class="text-center head">Genomic breeding programs</h2>
      <div class="row">
        <div class="col-md-6">
          <div
            class="imgCon d-flex justify-content-center align-items-center h-100"
          >
            <img
              src="./../../../assets/img/consulting.jpg"
              class="img"
              alt="image"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div
            class="d-flex flex-column justify-content-center align-items-center h-100"
          >
            <p class="GenomicText">
              Using a variety of approaches to determine animal value. All rely
              on identifying molecular markers that predict or associate with a
              particular trait or phenotype. Tests using SNP (single nucleotide
              polymorphism) detection, which identify genetic variations that
              associate with conditions such as coat color, double muscling or
              disease, are increasingly popular due to their speed. It is
              possible to process 100s of samples for up to 50,000s of SNPs in a
              single run, getting results within days.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="geneticSelection section">
      <h2 class="text-center head">Genetic Selection</h2>
      <div class="row">
        <div class="col-md-6">
          <div
            class="d-flex flex-column justify-content-center align-items-center"
          >
            <p>
              Genetic selection relies on identifying traits associated with
              ERTs and also expected progeny differences (EPDs) that improve
              animal value, for both breeding potential and production.
              Selecting sires for a dairy herd, for example, might concentrate
              on daughter value traits such as milk production. Molecular
              markers for larger scrotal circumference in the sire predict
              earlier puberty in daughters. In beef production, traits such as
              mature weight and higher and more efficient feed conversion rates
              are more desirable.
            </p>
            <p>
              Using genetic selection tools wisely can increase herd
              profitability. Being able to identify animals that have better
              milk production, weaning weight and muscle characteristics for
              example will breed a better end product for market, reflecting in
              higher volumes of milk and meat production therefore maximizing
              your revenue, profit & return on investment.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div
            class="imgCon d-flex justify-content-center align-items-center h-100"
          >
            <img
              src="./../../../assets/img/consulting.jpg"
              class="img"
              alt="image"
            />
          </div>
        </div>
        <div class="col-12">
          <p>
            However, in order to move a herd forward, producers must take care
            to select traits that improve profitability rather than increase
            costs. Selecting rapid growth or high milk yield for example will
            not optimize production where nutrient or forage quality is a
            limiting factor. Considering herd goals within environmental and
            husbandry constraints will maximize benefits and avoid obstacles to
            achieving full performance potential.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
