<div class="target-banar">
  <div class="overlay"></div>
  <div class="target">
    <div class="container">
      <h2 class="header-con text-center">
        Healthcare Target Audience &amp; Sectors
      </h2>
      <div class="row">
        <div class="col-md-6 one item">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                (1) Start-up businesses (healthcare Facilities & providers),
                preferably in the earlier stages of planning and
                operations.Small &mid-sizedhospitals/businessesmakeupasizable
                majorityof theEMEA region & international/emerging markets.
                PLSIFZCO prefers toestablish arelationship with younger
                operations & continues to nurture that relationship over the
                long term.
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row flex-row-reverse">
        <div class="col-md-6 two item">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                (2) Investors seeking to penetrate the healthcare sector with
                green field or turn key healthcare development projects.
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 one item">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                (3) Functioning hospitals who seek to improve their operations &
                financial performance.
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row flex-row-reverse">
        <div class="col-md-6 two item">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                (4) Multinational Organizations/Hospital Operators; either
                already existing in the region or planning to penetrate the
                regional markets especially emerging markets thus attracting
                multinational operators interested in penetrating the region.
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 one item">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                (5) Public/Government Sector in the region including a potential
                forPPP's (PublicPrivate Partnerships),
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row flex-row-reverse">
        <div class="col-md-6 two item">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                (6) Improving operational efficiency andprofitabilityof
                organizations.
              </h5>
              <h5 class="card-title">
                (7) Geographically: Europe, Mediterranean, Middle East, Africa
                GCC and Asia
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
